<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<div th:fragment="addbook" class="addbook">
  <form th:action="@{/library/add-book}" method="post" class="book">
    <label>
      <p>Title:</p>
      <input type="text" name="Title">
    </label>
    <label>
      <p>Author:</p>
      <input type="text" name="Author">
    </label>
    <label>
      <p>Category:</p>
      <input type="text" name="Category">
    </label>
    <label>
      <p>ISBN:</p>
      <input type="text" name="ISBN">
    </label>
    <label>
      <p>Copies:</p>
      <input type="text" name="Copies">
    </label>
    <div class="button-container">
      <input type="submit" value="Submit" class="button submit-button">
      <a th:href="${'/library/cancel-add-book'}" class="button cancel-button">Cancel</a>
    </div>
  </form>
</div>



</html>