h2 {
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.book-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Segoe UI", sans-serif;
    padding: 0px 10px;
}

.column-list {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Segoe UI", sans-serif;
    background-color: #343a40;
    color: #e9ecef;
    padding: 0px 10px;
}

.add-book-row {
    padding: 5px 0;
    font-family: "Segoe UI", sans-serif;
}